name: Spotify Metrics

on:
  schedule:
    - cron: "0 */4 * * *" 
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Generate Spotify Music Plugin
        uses: lowlighter/metrics@latest
        with:
          filename: metrics.plugin.music.recent.svg
          
          token: NOT_NEEDED
          base: ""
          
          # Configurações do Spotify
          plugin_music: yes
          plugin_music_provider: spotify
          plugin_music_mode: recent
          plugin_music_token: ${{ secrets.SPOTIFY_TOKENS }}
          plugin_music_limit: 3
